.map {
    padding-top: 2rem;
    .map-wrapper {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        .locations {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            padding-right: 10px;
            > .content {
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                background-color: #F9F8FB;
                padding-bottom: 1.5rem;
                border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                > .location-button {
                    opacity: 0.6;
                    border: 1px solid $main-font-color;
                    border-radius: 30px;
                    height: 36px;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 20px;
                    font-weight: 500;
                    font-size: 0.75rem;
                    line-height: 1;
                    color: $main-font-color;
                    &.active {
                        background-color: $main-font-color;
                        color: white;
                        opacity: 1;
                    }
                }
            }
        }
        .offer-list-wrapper {
            padding-top: 130px;
        }
    }
    .leaflet-tile-pane {
        filter: grayscale(1);
    }
    .offer-list-wrapper {
        height: 1300px;
        overflow-y: auto;
        overflow-x: hidden;
        &::-webkit-scrollbar {
            width: 6px;               /* ширина scrollbar */
        }
        &::-webkit-scrollbar-track {
            background: #CBCBCB;        /* цвет дорожки */
        }
        &::-webkit-scrollbar-thumb {
            background-color: #26161F;    /* цвет плашки */
            border-radius: 20px;       /* закругления плашки */
            border: 3px solid #26161F;  /* padding вокруг плашки */
        }
        scrollbar-width: thin;          /* "auto" или "thin"  */
        scrollbar-color: #26161F #CBCBCB;
        .offer-list {
            padding-right: 10px;
            .accordion-item {
                padding-top: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                .accordion-header {
                    display: flex;
                    flex-wrap: nowrap;
                    position: relative;
                    cursor: pointer;
                    .offer-type-icon {
                        width: 30px;
                        height: 30px;
                        background-color: $pink;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 15px;
                    }
                    .accordion-button {
                        font-weight: 500;
                        font-size: 1rem;
                        line-height: 1;
                    }
                }
                .accordion-collapse {
                    .offer-content {
                        padding-top: 2rem;
                    }
                    .offer-content-table {
                        td {
                            vertical-align: top;
                            padding: 10px 5px;
                            font-size: 0.75rem;
                        }
                        .offer-key {
                            font-weight: 600;
                        }
                        .offer-value {
                            padding-left: 50px;
                        }
                    }
                }
                .offer-content-footer {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .offer-doc-link {
                        display: flex;
                        padding-right: 30px;
                        font-weight: 300;
                        font-size: 0.75rem;
                        line-height: 1.2;
                        color: #9C0055;
                        transition: 0.2s ease;
                        &:hover {
                            color: $pink;
                            transition: 0.2s ease;
                            > svg {
                                transition: 0.2s ease;
                                transform: rotate(-90deg);
                                path {
                                    fill: $pink;
                                }
                            }
                        }
                        > span {
                            padding-right: 15px;
                        }
                        > svg {
                            transition: 0.2s ease;
                        }
                    }
                }
                .offer-content-gallery {
                    margin-top: 2rem;
                    .offer-content-gallery-list {
                        @media (min-width: 992px) {
                            flex-direction: column;
                        }
                        .offer-content-gallery-item {
                            margin-bottom: 10px;
                            position: relative;
                            transition: 0.2s ease;
                            &:hover {
                                filter: brightness(1.1);
                                transition: 0.2s ease;
                            }
                        }
                        .offer-content-gallery-item--video {
                            &:hover {
                                .play-button {
                                    opacity: 1;
                                    transition: 0.2s ease;
                                }
                            }
                            .play-button {
                                position: absolute;
                                z-index: 5;
                                bottom: 20px;
                                right: 20px;
                                width: 64px;
                                height: 64px;
                                border-radius: 50%;
                                background-color: rgba(255, 255, 255, 1);
                                border: 0;
                                padding: 0;
                                display: inline-flex;
                                justify-content: center;
                                align-items: center;
                                padding-left: 7px;
                                opacity: 0.64;
                                transition: 0.2s ease;
                            }
                        }
                    }
                }
            }
        }
    }
}